.content {
    height: calc(100vh - 56px);
}

@media (min-width: 1496px) {
    .content {
        padding: 8px calc(50vw - 740px);
    }
}

@media (max-width: 1495px) {
    .content {
        padding: 8px
    }
}